<h1 class="text-center">Explore Buckets</h1>

<hr />
<div class='row'>
	<form class="col s4 offset-s4" role="search">
	    <div class="form-group">
	      <%= text_field_tag :search, params[:search] %>
	    </div>
	  <div class='center-align'>
	  	<%= submit_tag "Search", :title => nil, class:'btn' %>
	  </div>
	</form>
</div>

<% if @buckets.any? %>
	<div class="row">
		<% @buckets.each do |bucket| %>
		 <div class="col-md-4">
		 	 <div class="row">
				 <div class="col-md-12 text-uppercase text-bold text-center">
						<%= bucket.title %> 
				  </div>
				</div>
				<%= link_to (image_tag bucket.image.url(:medium)), bucket_path(bucket) %> 
		</div>
	<%end%>
</div>
	</ul>
<% else %>
	<h3 class='center'>No Bucket list has been added!</h3>
<% end %>

<hr/>

