<h1>All Buckets</h1>

<hr />


<% if @buckets.any? %>
	<%@buckets.each do |bucket| %>
			<%= link_to (image_tag bucket.image.url(:thumb)), bucket_path(bucket) %>
	<%end%>
</ul>
<% else %>
<h3>No Bucket list, please add one!</h3>
<% end %>

<hr/>

<%= link_to 'Edit Profile', edit_user_registration_path, class:'btn btn-warning' %> |
<%= link_to 'My Bucket List', buckets_path, class:'btn btn-primary' %>
