
<div class="container-fluid">
	<h1 class="text-center">Explore Buckets</h1>

	<hr />


	<% if @buckets.any? %>
	<div class="row">
		<%@buckets.each do |bucket| %>
			 <div class="col-md-4">
					<%= link_to (image_tag bucket.image.url(:medium)), bucket_path(bucket) %> 
					<div class="row">
					 <div class="col-md-12 text-uppercase text-bold">
							<%= bucket.title %> 
					  </div>
					</div>
			</div>
		<%end%>
	</div>




	</ul>
	<% else %>
	<h3>No Bucket list has been added!</h3>
	<% end %>

	<hr/>

	<%= link_to 'Edit Profile', edit_user_registration_path, class:'btn btn-warning' %> |
	<%= link_to 'My Bucket List', buckets_path, class:'btn btn-primary' %>
</div>